{% extends "accounts/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% for brand in brands %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="#">
                    <img src="{{ brand.logo }}" alt="{{ brand.name }}">
                </a>
                <div class="caption">
                    <h3>{{brand.name}}</h3>
                    <p>{{brand.name}} is a brand</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}